﻿@model Vjezba.Web.Models.Mock.City

<br />

@if (Model == null)
{
    <div class="alert alert-danger" role="alert">Ne postoji takav grad!</div>
}
else
{
    <div>
    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>ID</th>
                <td>@Model.ID</td>
            </tr>
            <tr>
                <th>Naziv</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th>Poštanski broj</th>
                <td>@Model.PostalCode</td>
            </tr>
        </tbody>
    </table>
        </div>
}

