﻿﻿﻿﻿@model Vjezba.Web.Models.CompanyFilterModel

<p>
    Primjer korištenja sva 4 načina. Uočiti prednosti i nedostatke pojedinog načina generiranja polja.
</p>
<form action="@Url.Action("AdvancedSearch")" method="post" class="form-inline">
    <div class="form-group">
        @Html.EditorFor(p => p.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Pretraga po nazivu" } })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(p => p.Address, new { @class = "form-control", placeholder = "Pretraga po adresi" })
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="@Html.NameFor(p => p.Email)" placeholder="Pretraga po e-mailu">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="CityName" placeholder="Pretraga po gradu">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

