﻿@model Vjezba.Web.Models.Mock.Company

@{
    ViewBag.Title = "_CreateOrEdit";
}

@Html.HiddenFor(p => p.ID)

<div class="form-group">
    @Html.LabelFor(p => p.Name)
    @Html.TextBoxFor(p => p.Name, new { @class = "form-control", placeholder = "Test" })
    @Html.ValidationMessageFor(p => p.Name, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(p => p.Email)
    @Html.TextBoxFor(p => p.Email, new { @class = "form-control", placeholder = "test@test.test" })
    @Html.ValidationMessageFor(p => p.Email, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(p => p.Address)
    @Html.TextBoxFor(p => p.Address, new { @class = "form-control", placeholder = "Test addr" })
    @Html.ValidationMessageFor(p => p.Address, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(p => p.City)
    @Html.TextBoxFor(p => p.City.Name, new { @class = "form-control", placeholder = "Test city" })
    @Html.ValidationMessageFor(p => p.City.Name, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(p => p.Latitude)
    @Html.TextBoxFor(p => p.Latitude, new { @class = "form-control", placeholder = "1" })
</div>

<div class="form-group">
    @Html.LabelFor(p => p.Longitude)
    @Html.TextBoxFor(p => p.Longitude, new { @class = "form-control", placeholder = "2" })
</div>

<input type="submit" class="btn btn-default" />

@Html.ValidationMessageFor(p => p.Longitude, "", new { @class = "text-danger" })

@Html.ValidationMessageFor(p => p.Latitude, "", new { @class = "text-danger" })

