﻿﻿@model Vjezba.Web.Models.Mock.Company
@{
    ViewBag.Title = "Create new company";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Pregled kompanija", "Index")</li>
    <li class="active">Create</li>
</ol>

<h2>Create new company</h2>

@using (Html.BeginForm("Create", "Company", FormMethod.Post))
{
    @Html.Partial("_CreateOrEdit", new Vjezba.Web.Models.Mock.Company())
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}