﻿﻿﻿﻿@model Vjezba.Web.Models.Mock.Company
@{
    ViewBag.Title = "Detalji kompanije";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>


<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Pregled kompanija", "Index")</li>
    <li class="active">Detalji o kompaniji</li>
</ol>

<h2>Pregled detalja kompanije</h2>
@if (Model == null)
{
    <div class="alert alert-danger" role="alert">Ne postoji odabrana kompanija!</div>
}
else
{
    <table class="table table-condensed">
        <tbody>

            <tr>
                <th>ID</th>
                <td>@Model.ID</td>
            </tr>

            <tr>
                <th>Naziv</th>
                <td>@Model.Name</td>
            </tr>

            <tr>
                <th>Adresa</th>
                <td>@Model.Address</td>
            </tr>

            <tr>
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>

            <tr>
                <th>Grad</th>
                <td>
                    <div>
                        <span id="cityPopover">
                            <a href="#">@Model.City.Name</a>
                        </span>
                        <script>
                                $("#cityPopover").click(function() {
                                    $("#cityPopover").popover({
                                        html: true,
                                        animation: true,
                                        content: $("#citySmece").css('display', 'block'),
                                        placement: "bottom"
                                    });
                                });
                        </script>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>

    <br />

    @Html.ActionLink("Edit", "Edit", "Company", new { id = Model.ID }, new { @class = "btn btn-success" })

    <!-- Nemojte gledati ovakve stvari :) -->

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div id="citySmece" style="display:none">
        @Html.Action("DetailsPartial", "City", new { id = Model.City.ID })
    </div>

    <br />
}