﻿@model Vjezba.Web.Models.Mock.Company
@{
    ViewBag.Title = "Edit";
}

<br />

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Pregled kompanija", "Index")</li>
    <li>@Html.ActionLink("Detalji o kompaniji", "Details")</li>
    <li class="active">Edit</li>
</ol>

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Company", FormMethod.Post))
{
    @Html.Partial("_CreateOrEdit", Model)
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}