﻿﻿﻿﻿@model List<Vjezba.Web.Models.Mock.Company>
@{
    ViewBag.Title = "Pregled kompanija";
}

<div class="panel panel-heading">
    <div class="row">
        <div class="col-xs-8">
            <h2>Pregled kompanija</h2>
        </div>
        <div class="col-xs-4 text-right">
            <a href="@Url.Action("Create")" style="margin-top: 20px;" class="btn btn-success">Dodaj novu kompaniju</a>
        </div>
    </div>
</div>

<div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#zad_5_1" aria-controls="zad_5_1" role="tab" data-toggle="tab">Zadatak 5.1</a></li>
        <li role="presentation"><a href="#zad_5_2" aria-controls="zad_5_2" role="tab" data-toggle="tab">Zadatak 5.2</a></li>
        <li role="presentation"><a href="#zad_5_3" aria-controls="zad_5_3" role="tab" data-toggle="tab">Zadatak 5.3</a></li>
        <li role="presentation"><a href="#zad_5_4" aria-controls="zad_5_4" role="tab" data-toggle="tab">Zadatak 5.4</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="zad_5_1">
            <h4>Zadatak 5.1 - GET forma s jednim parametrom</h4>
            <form action="@Url.Action("Index")" method="get" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" name="query" placeholder="Upišite željeni pojam">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="zad_5_2">
            <h4>Zadatak 5.2 - POST forma s dva parametra</h4>
            <form action="@Url.Action("Index")" method="post" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" name="queryName" placeholder="Pretraga po imenu">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="queryAddress" placeholder="Pretraga po adresi">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="zad_5_3">
            <h4>Zadatak 5.3 - POST forma, binding na model</h4>
            <form action="@Url.Action("AdvancedSearch")" method="post" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" name="Name" placeholder="Pretraga po imenu">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="Address" placeholder="Pretraga po adresi">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="Email" placeholder="Pretraga po e-mailu">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="CityName" placeholder="Pretraga po gradu">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="zad_5_4">
            <h4>Zadatak 5.4 - POST forma, partial, EditorFor i NameFor</h4>
            @Html.Partial("_CompanyFilter", new Vjezba.Web.Models.CompanyFilterModel())
        </div>
    </div>
</div>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Naziv</th>
            <th>Adresa</th>
            <th>Datum osnivanja</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            <tr>
                <td>@company.ID</td>
                <td>@Html.ActionLink(company.Name, "Details", new { id = company.ID })</td>
                <td>@company.Address</td>
                <td>@company.DateFrom.ToShortDateString()</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = company.ID })</td>
            </tr>
        }
    </tbody>
</table>
